.tempCurrent {
  font-size: 70px;
  text-align: center;
}
.cityCurrent {
  font-size: 55px;
  text-align: center;
}

.humidityCurrent,
.pressureCurrent,
.windCurrent {
  margin: 6px 0px; 
  font-weight: 700;
}
.descriptionCurrent {
  text-align: center;
}

